
  <nav>
    <div class="nav-wrapper  grey darken-4">
      <a routerLink="/inicio" class="brand-logo orange-text darken-4">Pedidos</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a class= "orange-text darken-4" routerLink="/administracion/personas">Personas</a></li>
        <li><a class= "orange-text darken-4" routerLink="/administracion/productos">Productos</a></li>
        <li><a class= "orange-text darken-4" routerLink="/seguridad/cambiar-clave">Cambiar contraseña</a></li>
        <li><a class= "orange-text darken-4" routerLink="/seguridad/identificar">Iniciar Sesión</a></li>
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <li><a class= "orange-text darken-4" routerLink="/administracion/personas">Personas</a></li>
    <li><a class= "orange-text darken-4" routerLink="/administracion/productos">Productos</a></li>
    <li><a class= "orange-text darken-4" routerLink="/seguridad/cambiar-clave">Cambiar contraseña</a></li>
    <li><a class= "orange-text darken-4" routerLink="/seguridad/identificar">Iniciar Sesión</a></li>
  </ul>

  
          
