<footer class="page-footer grey darken-4">
    <div class="container ">
      <div class="row">
        <div class="col l5">
          <h5 class="white-text">Contenido de la página</h5>
          <p class="orange-text darken-4">busca, encuentra, compra.</p>
        </div>
        <div class="col l5">
          <h5 class="white-text ">Quines Somos</h5>
          <ul>
            <li><a class="orange-text darken-4" href="#!">Misión</a></li>
            <li><a class="orange-text darken-4" href="#!">Visión</a></li>
            <li><a class="orange-text darken-4" href="#!">Inicio</a></li>
            <li><a class="orange-text darken-4" href="#!">Contactanos</a></li>
          </ul>
        </div>
        <div class="col l2 ">
            <h5 class="white-text orange-text darken-4">Busqueda Rapida</h5>
            <ul>
              <li><a class="orange-text darken-4" href="#!">Productos tipo A</a></li>
              <li><a class="orange-text darken-4" href="#!">Productos tipo B</a></li>
              <li><a class="orange-text darken-4" href="#!">Productos tipo C</a></li>
              <li><a class="orange-text darken-4" href="#!">Productos tipo D</a></li>
            </ul>
          </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2021 Copyright MisionTic Grupo 6
      <a class="grey-text text-lighten-4 right" href="#!">Más información</a>
      </div>
    </div>
  </footer>
